<div class="container-flude">
  <div class="container" *ngFor="let repo of reposList | paginate: config">
    <div class="card mb-3" style="width: auto; border: none">
      <div class="row no-gutters">
        <div class="col-md-2">
          <img
            src="{{ repo.owner.avatar_url }}"
            class="card-img"
            alt="{{ repo.owner.login }}"
          />
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h1 class="card-title">{{ repo.name }}</h1>
            <p class="card-text">{{ repo.description }}</p>
            <div class="row">
              <div class="col-2 border border-dark ml-1">
                Stars: {{ repo.stargazers_count | toShortNumber }}
              </div>
              <div class="col-2 border border-dark ml-1">
                Issues: {{ repo.open_issues | toShortNumber }}
              </div>
              <div class="col-7">
                Submitted: {{ repo.created_at | daysFromDate }} days ago by
                {{ repo.owner.login }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="overlay" *ngIf="isLoading">
    <div class="center">
        <mat-progress-spinner diameter=100
                            mode="indeterminate"
                  >
      </mat-progress-spinner>
    </div>
    </div>


  <div *ngIf="showPagination" class="d-flex justify-content-center">
    <pagination-controls
      (pageChange)="pageChange($event)"
      class="my-pagination"
    ></pagination-controls>
  </div>
</div>
